{{!< ./layouts/base }}

{{#contentFor "head"}}
<title>Collection</title>
<script>window._global = {{{_global}}};</script>
<script src="/static/js/collection.min.js"></script>
<link rel="stylesheet" href="/static/css/collection-core.min.css">
{{/contentFor}}
