{{!< ./layouts/base }}

{{#contentFor "head"}}
<title>Collection</title>
<script>window._initialState = {{{initialState}}};</script>
<script src="/static/js/collection.min.js"></script>
<link rel="stylesheet" href="/static/css/core.min.css">
{{/contentFor}}
